{% extends "layout.html" %}

{% from "_modules_table.html" import modules_table %}

{% block body %}
<div class="container">
  <h1>
    <a href="{{ url_for("modules") }}">modules</a>
    / <strong>
        <a href="{{ url_for("module_versions", name=name) }}">{{ name }}</a>
        - {{ version }}
      </strong> 
  </h1>


  <table class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Release</th>
      </tr>
    </thead>
    <tbody>
    {% for module in documents %}
      <tr>
        <td><strong><a href="{{ url_for("module_overview", name=name, version=version, release=module._source.release) }}">{{ module._source.release }}</a></strong></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>

<script>
  // Initialize Datatables
  $(document).ready(function() {
    $('.datatable').dataTable({
      "order": [[ 0, "desc" ]]
    });
  });
</script>

{% endblock %}
