{% extends "layout.html" %}

{% from "_modules_table.html" import modules_table %}

{% block body %}
<div class="container">
  <h1 class="section-heading"><strong> modules </strong></h1>
  
  
  <table class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Version-Releases</th>
      </tr>
    </thead>
    <tbody>
    {% for module in  modules %}
      <tr>
        <td><strong><a href="{{ url_for("module_versions", name=module.key) }}">{{ module.key }}</a></strong></td>
        <td>{{ module.doc_count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>

<script>
  // Initialize Datatables
  $(document).ready(function() {
    $('.datatable').dataTable({
      "order": [[ 0, "desc" ]]
    });
  });
</script>

{% endblock %}
