{% extends "layout.html" %}


{% macro nav_element(tab_name, tab_title, pull_right = False) %}
<li class="{% if selected_tab == tab_name %}active{% endif %} {% if pull_right %}pull-right{% endif %}" role="presentation">
    <a href="{{ url_for(tab_name, name=name, version=version, release=release) }}">
        {{ tab_title }}
    </a>
</li>
{% endmacro %}


{% block body %}
<div class="container">
  <h1 class="section-heading">
    <a href="{{ url_for("modules") }}">modules</a>
    / <strong>
        <a href="{{ url_for("module_versions", name=name) }}">{{ name }}</a>
        - <a href="{{ url_for("module_version_releases", name=name, version=version) }}">{{ version }}</a>
        - {{ release }}
      </strong>
  </h1>

  <ul class="nav nav-tabs">
    {{ nav_element("module_overview", "Overview") }} 
    {{ nav_element("module_components", "Components") }} 
    {{ nav_element("module_dependencies", "Dependencies") }} 
    {{ nav_element("module_install_profiles", "Install Profiles") }} 
    {{ nav_element("module_api", "API") }} 

    {{ nav_element("module_artifacts", "Artifacts", pull_right = True) }} 
    {{ nav_element("module_dependency_of", "Dependency Of", pull_right = True) }} 
    {{ nav_element("module_component_of", "Component Of", pull_right = True) }} 
  </ul>

{% block module_body %}{% endblock %}

{% endblock %}
