{% extends "module.html" %}

{% set selected_tab = "module_install_profiles" %}

{% block module_body %}

<h2> Install Profiles </h2>

<ul class="list-group">
{% for profile in install_profiles %}
  <li class="list-group-item">
    <h4 class="list-group-item-heading">{{profile.name}}</h4>
    <p class="list-group-item-text">{{profile.description}}</p>
    <h5> Packages: </h5>
    <ul>
      {% for rpm in profile.rpms %}
      <li>{{rpm}}</li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>


{% endblock %}
