{% extends "module.html" %}
{% from "_build_state.html" import build_state, build_state_simple %}

{% set selected_tab = "module_overview" %}

{% block module_body %}

<br>

{{ build_state(module._source["build-state"], components) }}

<hr>

<dl class="dl-horizontal">
  <dt>Summary:</dt>
  <dd>{{ module._source.summary }}</dd>

  <dt>Build State:</dt>
  <dd>{{ module._source["build-state"] }}</dd>

  {% if module._source.koji_tag %}
  <dt>Koji Tag:</dt>
  <dd><a href="http://koji.stg.fedoraproject.org/koji/buildtargetinfo?name={{ module._source.koji_tag }}">{{ module._source.koji_tag }}</a></dd
  {% endif %}
</dl>


{% endblock %}
