{% extends "module.html" %}

{% set selected_tab = "module_overview" %}

{% block module_body %}

<br>

{% set state=module._source["build-state"] %}
{% set prev_state=module._source["build-state"] %}

<ul class="nav nav-pills nav-justified build-progress">
  <li class="done"><a href="#"><strong>Importing</strong><br> Succeeded </a></li>
  <li class="running"><a href="#"><strong>Building Components</strong><br> Running </a></li>
  <li class="shadow"><a href="#"><strong>Rebuilding the World</strong><br> </a></li>
  <li class="shadow"><a href="#"><strong>Composing Artifacts</strong><br> </a></li>
  <li class="shadow"><a href="#"><strong>Copying to Mirrors </strong><br> </a></li>
</ul>

<hr>

<dl class="dl-horizontal">
  <dt>Summary:</dt>
  <dd>{{ module._source.summary }}</dd>
  <dt>Build State:</dt>
  <dd>{{ module._source["build-state"] }}</dd>
</dl>

<hr>

<ul class="nav nav-pills nav-justified build-progress">
  <li class="done"><a href="#"><strong>Importing</strong><br> Succeeded </a></li>
  <li class="done"><a href="#"><strong>Building Components</strong><br> Succeeded </a></li>
  <li class="failed"><a href="#"><strong>Rebuilding the World</strong><br> Failed </a></li>
  <li class="shadow"><a href="#"><strong>Composing Artifacts</strong><br> </a></li>
  <li class="shadow"><a href="#"><strong>Copying to Mirrors </strong><br> </a></li>
</ul>

<hr>

<ul class="nav nav-pills nav-justified build-progress">
  <li class="done"><a href="#"><strong>Importing</strong><br> Succeeded </a></li>
  <li class="pending"><a href="#"><strong>Building Components</strong><br> Pending </a></li>
  <li class="shadow"><a href="#"><strong>Rebuilding the World</strong><br> </a></li>
  <li class="shadow"><a href="#"><strong>Composing Artifacts</strong><br> </a></li>
  <li class="shadow"><a href="#"><strong>Copying to Mirrors </strong><br> </a></li>
</ul>

<hr>

{% include "_build_states.html" %}

{% endblock %}
